body {
    font-family: sans-serif;
    margin: 40px;
}

header, section, footer {
    margin-bottom: 40px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}